.document-category.py-5
    .container
        .not-found.text-center.mt-5.py-4
            h5 Didnt’t Find An Answer?
            p Our team is just an email away and ready to answer your question
            a.btn.btn-danger(id="live-chat" href="javascript:void(0)") Chat With Us