include ./layoutTopper.jade

body
    include ./header.jade
    include ./supportSearch.jade
    include ./documentation.jade
    include ./docsNotFound.jade
    include ./../layouts/footer.html

    include ./layoutFooter.jade
