mixin menuTree(menuName, menuLink, subMenu)
	if subMenu
		li.nav-item.dropdown
			a#navbarDropdown.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aaria-expanded="false")= menuName
			.dropdown-menu(aria-labelledby='navbarDropdown')
				each item in subMenu
					a.dropdown-item(href=item.path)=item.name
	else
		// for active link .active
		li.nav-item
			a.nav-link(href= menuLink)= menuName


header.header.sticky-top.shadow-sm
	.container
		.header-content
			nav.navbar.navbar-expand-lg.navbar-light.custom-nav.px-0
				a.navbar-brand.ml-2.ml-lg-0(href="/")
					img(src="/resources/images/brand-logo.svg" width="100" height="40" alt="SBO" loading="lazy")
				#navbarNavDropdown.collapse.navbar-collapse.justify-content-end
					ul.navbar-nav
						each item in response
							if item.menu
								+menuTree(item.name, item.path, item.submenu)

