mixin subMenu(menuName, menuLink, subMenu)
	if subMenu
		li.dropdown-submenu
			a.dropdown-item.dropdown-toggle(href='#')= menuName
			ul.dropdown-menu
				each item in subMenu
					+subMenu(item.name, item.path, item.submenu)
	else
		li
			a.dropdown-item(href= menuLink)= menuName

mixin menuTree(menuName, menuLink, subMenu)
	if subMenu
		li.nav-item.dropdown
			a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' data-toggle='dropdown' aaria-expanded="false")= menuName
			ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
				each item,key in subMenu
					+subMenu(item.name, item.path, item.submenu)
	else
		// for active link .active
		li.nav-item
			a.nav-link(href= menuLink)= menuName


header.header.sticky-top.shadow-sm
	.container
		.header-content
			nav.navbar.navbar-expand-lg.navbar-light.custom-nav.px-0
				a.header-icon.navbar-brand.ml-2.ml-lg-0(href="/")
					img(src="/resources/images/brand-logo.svg" width="100" height="40" alt="SBO" loading="lazy")

				nav.navbar.navbar-expand-lg.navbar-light
					button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarTogglerDemo01' aria-controls='navbarTogglerDemo01' aria-expanded='false' aria-label='Toggle navigation')
						span.navbar-toggler-icon
					#navbarTogglerDemo01.collapse.navbar-collapse
						ul.navbar-nav.mr-auto.mt-2.mt-lg-0
							each item in response
								+menuTree(item.name, item.path, item.submenu)
