script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
script(src='/resources/owlcarousel/owl.carousel.js')
script(src="/js/plugin.js")
script(src="/js/mixitup.min.js")
script(src="/js/jquery.magnific-popup.min.js")

script(src="/js/main.js")