doctype html
html
	head
		title #{bodyData.name} - Synchronous Bandwidth Optimizer
		meta(http-equiv="content-type" content="text/html; charset=UTF-8")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(charset="UTF-8")
		meta(name="application-name" content="SBO")
		meta(name="generator" content="SGF Framework")
		| !{bodyData.meta}

		link(rel='icon' href='https://www.getsbo.com/wp-content/themes/getsbo/favicon.ico' type="image/gif" sizes="16x16")

		//- Third party style
		link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css")
		link(rel='stylesheet' href='/resources/owlcarousel/assets/owl.carousel.min.css')
		link(rel='stylesheet' href='/resources/owlcarousel/assets/owl.theme.default.min.css')
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css")
		link(rel="stylesheet" href="/js/magnific-popup.css")

		link(rel='stylesheet' href='/styles/style.css')

		script(src="https://kit.fontawesome.com/3ef48c52a2.js")

	body

		case bodyData.layout
			when "support_home"
				include ./header.jade
				include ./supportSearch.jade
				block content
				include ./../layouts/footer.html

			when "documentation"
				include ./header.jade
				include ./supportSearch.jade
				include ./documentation.jade
				include ./docsNotFound.jade
				include ./../layouts/footer.html

			when "doc_details"
				include ./header.jade
				include ./supportSearch.jade
				include ./docDetails.jade
				include ./docsNotFound.jade
				include ./../layouts/footer.html

			when "blog"
				include ./header.jade
				include ./supportSearch.jade
				include ./blogContent.jade
				include ./../layouts/footer.html

			when "blog_details"
				include ./header.jade
				include ./supportSearch.jade
				include ./blogSingleContent.jade
				include ./../layouts/footer.html

			default
				include ./header.jade
				block content
				include ./../layouts/footer.html

		//- Third party script
		script(src="https://code.jquery.com/jquery-3.5.1.slim.min.js")
		script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js")
		script(src='/resources/owlcarousel/owl.carousel.js')
		script(src="/js/plugin.js")
		script(src="/js/mixitup.min.js")
		script(src="/js/jquery.magnific-popup.min.js")

		script(src="/js/main.js")