.support-search
	.container
		.text-white.text-center.py-5
			h2 Have A Question?
			p If you have any question you can ask here or enter what you are looking for.
			form.form-inline.my-2.mt-5.justify-content-center
				input.form-control.mr-sm-2.search-box(type="text" placeholder= "Type something here.....")
				button.btn.btn-danger.my-2.my-sm-0(type='submit') Search