<div>
	<div class="footer-top">
		<div class="container">
			<div class="row">
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">SBO</h5>
					<ul>
						<li><a class="footer-link" href="/docs/what-is-sbo">What is SBO?</a></li>
						<li><a class="footer-link" href="/docs/prerequisites-of-sbo/">Prerequisites</a></li>
						<li><a class="footer-link" href="/docs/sbo-multipath-network-diagram">Implementation Diagram</a>
						</li>
						<li><a class="footer-link" href="/downloads">Downloads</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">Products</h5>
					<ul>
						<li><a class="footer-link" href="/products/sbo">SBO</a></li>
						<li><a class="footer-link" href="/products/wholesale-switch">Wholesale Switch</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">Packages</h5>
					<ul>
						<li><a class="footer-link" href="/packages/#sbo">SBO Packages</a></li>
						<li><a class="footer-link" href="/packages/#sbo-switch">SBO Switch Packages</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">Support</h5>
					<ul>
						<li><a class="footer-link" id="live-chat-2" href="javascript:void(0)">Live Chat</a></li>
						<li><a class="footer-link" href="/docs/category/faq">FAQ</a></li>
						<li><a class="footer-link" href="/docs/category/troubleshooting">Troubeshooting Guide</a></li>
						<li><a class="footer-link" href="/docs/category/installation">Installation Guide</a></li>
						<li><a class="footer-link" href="https://synccare.synchronousict.net/portal/home">Support
								Portal</a></li>
						<li><a class="footer-link" href="/blog">Blog</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">Company</h5>
					<ul>
						<li><a class="footer-link" href="/company/about-us">About Us</a></li>
						<li><a class="footer-link" href="/company/contact-us">Contact Us</a></li>
					</ul>
				</div>
				<div class="col-6 col-md-3 col-lg-2">
					<h5 class="text-white mt-3">Useful Links</h5>
					<ul>
						<li><a class="footer-link" href="/mobile-apps">Mobile Apps</a></li>
						<li><a class="footer-link" href="/support/">Resources</a></li>
						<li><a class="footer-link" href="https://www.synchronousict.com">Synchronous</a></li>
						<li><a class="footer-link" href="https://www.syncswitch.com">Sync Switch</a></li>
						<li><a class="footer-link" href="https://www.cooldialer.com">CoolDialer</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="footer py-1">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div
						class="footer-content d-flex flex-column flex-sm-row align-items-center justify-content-between">
						<div class="footer-logo"><img class="img-fluid" src="/resources/images/sbo_logo.svg" alt="SBO">
						</div>
						<p class="text-white my-0">© 2017 by Synchronous, All rights reserved.</p>
						<div class="social d-flex align-items-center">
							<p class="text-white my-0 mr-sm-1 mr-md-3">Follow Us</p>
							<a href="https://www.facebook.com/sbo.bandwidth.optimizer"><i class="fab fa-facebook" aria-hidden="true"></i></a>
							<a href="https://twitter.com/synchronousict"><i class="fab fa-twitter" aria-hidden="true"></i></a>
							<a href="https://www.youtube.com/channel/UCLFlr-qJCWBau0GAz3XiHCQ"><i class="fab fa-youtube" aria-hidden="true"></i></a>
							<a href="https://www.linkedin.com/company/synchronous-ict"><i class="fab fa-linkedin" aria-hidden="true"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>