<div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_multipath.svg" alt="SBO Multipath V.3"></div>
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">SBO Multipath V.3</div>
                    <div class="stl-subhead pb-3">The last word in Bandwidth Optimization</div>
                    <div class="stl-content pb-3">SBO Multipath is the most powerful Bandwidth Optimization solution for
                        VoIP Termination businesses. It has all the features to reduce bandwidth usage, improve
                        performance and secure the network. Redesigned in V.3, SBO Multipath now made it possible to use
                        multiple internet connection and use them seamlessly as one connection.</div>
                </div>
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
                <div class="col- mx-3">
                    <button class="stl-btn" onclick="redirect('downloads')">
                        Download Now
                    </button>
                </div>
                <div class="col- mx-3">
                    <div class="stl-btn">
                        <a href="https://sboportal.getsbo.com" target='_blank'>
                            Subscribe Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:#ECF0F1;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Use multiple internet connection</div>
                    <div class="stl-subhead pb-3">Stack bandwidth of multiple connection to use as one</div>
                    <div class="stl-content pb-3">SBO brings its Multipath module in V.3 which can stack bandwidth of
                        multiple internet connections and use seamlessly as a single connection. And most amazingly, it
                        can bond any kind of internet connections together i.e. ADSL through LAN port, GPRS / EDGE / 3G
                        / 4G / Wi-Fi / Wi-Max through USB, and it can do that for any number of connection a server can
                        take.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_multiinternet.svg"
                        alt="Use multiple internet connection"></div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3">This feature provides following benefits -</div>
                </div>
                <div class="stl-list-wrap">
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>Lifts the limitation of
                            bandwidth per connection, so users can stack as many connections as they need to achieve the
                            total bandwidth required.</span></div>
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>Seamless redundancy for
                            internet connection, so if any connection interrupts, others will work and keep the service
                            up and running.</span></div>
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>Maintains Quality of
                            Service (QoS) based on statistics and does automatic load balancing among available network
                            connections depending on the available bandwidth with quality.</span></div>
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>Manage network
                            congestion with its unique congestion management system so there is no lag in voice and
                            customers enjoy superior voice quality.</span></div>
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>SBO is so successful
                            that competitors call their product by the same name - SBO</span></div>
                    <div class="stl-list-sing"> <img class="stl-list-checked"
                            src="/resources/images/product/sbo/sbo_list.svg" alt="checked"><span>Increase overall
                            performance by reducing disturbance on internet connection and making it highly available.
                            It increases profitability of the business by reducing downtime for internet
                            connection.</span></div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Reduce bandwidth consumption up to 80%</div>
                    <div class="stl-subhead pb-3">Save big in opex, increase the capacity by 5 times</div>
                    <div class="stl-content pb-3">SBO uses its propreitary encryption and compression technology to
                        reduce bandwidth usage up to 80% depending on the codec used. And it does this optimization
                        without impacting the voice quality at all. Thats the magic.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_reducebw.svg"
                        alt="Reduce bandwidth consumption up to 80%"></div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3">Every VoIP call has generally two parts - voice data (payload, which
                        is already compressed with codec) and protocol (i.e. SIP, RTP) headers. Since the voice data
                        part is already compressed with codec, if it is more compressed, it looses quality to
                        significant extent and overall performance goes down. So, SBO doesn't do that to ensure superior
                        voice quality provided by the codec itself. SBO doesnt use SIP or RTP protocol, rather it uses
                        its SBO protocol which works with minimum overhead and can reduce bandwidth usage used by SIP
                        &amp; RTP, which is very high compared to voice data it transfers. Another way to reduce
                        bandwidth is by multiplexing. SBO protocol supports multiplexing and when number of call
                        increases, bandwidth usage goes further down. Depending on the codec used, and status of silence
                        suppression, bandwidth reduction varies.</div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:#ECF0F1;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_security.svg"
                        alt="Give your network the security it needs"></div>
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Give your network the security it needs</div>
                    <div class="stl-subhead pb-3">Save your network from sniffing, hacking &amp; firewalls</div>
                    <div class="stl-content pb-3">SBO protocol uses binary encryption, so it is almost impossible to
                        sniff around and hack communication by SBO protocol. We have implimented atrificial intellegence
                        on it so it can detect firewall and automatically decide how to bypass it. It can run both in
                        TCP and UDP and switch mode on the fly. SBO is powered with all the features you need to protect
                        your network from sniffing, hacking and firewalls.</div>
                </div>
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Your routes are the best one</div>
                    <div class="stl-subhead pb-3">SBO gives the performance your carrier likes</div>
                    <div class="stl-content pb-3">Better performance means better satisfaction of customers which turns
                        into better profitability. By managing various aspects of performance i.e. multiple internet
                        connections, congestion management, network load balancing and failover, lossless compression,
                        multiplexing, network security and many others - SBO provides premium qulality of service which
                        is capable of impacting average call duration by up to 2 minutes (depending on the destination
                        and circumstances). And increased ACD definitely converts to more business.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_bestroute.svg" alt="Your routes are the best one"></div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:#ECF0F1;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_neversayno.svg" alt="Never say 'no'"></div>
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Never say 'no'</div>
                    <div class="stl-subhead pb-3">SBO is compatible with any softswitch and gateway</div>
                    <div class="stl-content pb-3">Interoperability is a must in VoIP business. because carriers uses so
                        many different softswitches and if the termination equipment doesn't work with the carrier
                        softswitch properly, the business will not work. SBO is a 'point-to-point' technology which
                        requires a pair of softwares implemented; one in the equipment side which we call SBO CPE
                        Software, and another at data center which we call SBO Manager (a SyncSwitch partition, which is
                        a full featured softswitch and billing manager).</div>
                </div>
                <div class="col-md-12">
                    <div class="stl-content pb-3">Calls are transmitted between SBO CPE and SBO manager with SBO
                        protocol. But from SBO manager to carrier softswitch it operates with standard SIP protocol
                        which is available in any modern age softswitch. As well as it supports all widely used codecs
                        i.e. G.711, G.729, G.723, AMR, GSM etc.</div>
                    <div class="stl-content pb-3">On the CPE end, SBO communicates with the gateway with standard SIP
                        which is available on all modern gateway equipments and supports above mentioned codecs. So it
                        works just fine. So, SBO is fully compatible with any technology available in the marketplace.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Every SBO comes up with a FREE SBOSwitch</div>
                    <div class="stl-subhead pb-3">Manage your business like a pro without paying extra for a switch
                    </div>
                    <div class="stl-content pb-3">For doing VoIP termination business, a softswitch is a must. A
                        softswitch gives the flexibility of adding multiple customers to the route which ensures maximum
                        utilization of the capacity, monitoring performance and various reports debug problems and
                        understand the situation of business, billing features gives the flexibility to check with
                        carriers billing so any dispute can be settled, intellegent routing gives the flexibility to
                        maintain multiple gateway and distributing calls among them.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_syncswitch.svg"
                        alt="Every SBO comes up with a FREE SBOSwitch"></div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3">Each SBO subscription comes up with a FREE SyncSwitch partition, which
                        works as SBO manager and is a full featured softswitch and billing manager. It gives tons of
                        feature and flexibility to the business which is unparalleled in the market place.</div>
                </div>
                <div class="col- mx-3"><button class="stl-btn" onclick="redirect('products/syncswitch')">See SyncSwtich
                        Features</button></div>
            </div>
        </div>
    </div>
    <div style="background:#ECF0F1;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_download_burn_run.svg"
                        alt="Download, burn, and run - it's that simple"></div>
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Download, burn, and run - it's that simple</div>
                    <div class="stl-subhead pb-3">Plug-n-play solution with minimum installation &amp; configuration
                    </div>
                    <div class="stl-content pb-3">We provide SBO as 'Software as a service (SaaS)' model. So everything
                        is preinstalled. Customers can download the bootable SBO ISO of CPE Software from our website,
                        burn it in USB Memory drive or CD and run it in any computer. And the computer doesn't need any
                        hard disk even. It's so simple.</div>
                </div>
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
                <div class="col- mx-3"><button class="stl-btn"
                        onclick="redirect('docs/prerequisites-of-sbo')">PREREQISITIES OF
                        INSTALATION</button></div>
                <div class="col- mx-3"><button class="stl-btn" onclick="redirect('docs/category/installation')">STEP BY
                        STEP INSTALLATION
                        GUIDE</button></div>
            </div>
        </div>
    </div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Champion Customer Support</div>
                    <div class="stl-subhead pb-3">Dedicated online customer care, absolutely FREE, always</div>
                    <div class="stl-content pb-3">We understand that our customers deserve the best care. Our customer
                        care includes agents as much as 12 years of experience in the related field. They try to
                        understand the problem and solve them empathetically. They can help our customers about anything
                        they need related to our products and service.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_customer_support.svg" alt="Champion Customer Support">
                </div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
                <div class="col- mx-3">
                    <div class="stl-btn">
                        <a id="live-chat-3" href="javascript:void(0)">
                            Chat With Us
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:#ECF0F1;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_competitive_rate.svg"
                        alt="Everything of this comes with a very competitive rate"></div>
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Everything of this comes with a very competitive rate</div>
                    <div class="stl-subhead pb-3">We are reasonable in pricing, SBO pays off for its charge</div>
                    <div class="stl-content pb-3">All of these features and services mentioned above comes in a very
                        reasonable price. When all other services increase the cost of doing business, SBO is a
                        service-of-a-kind which reduces the cost of doing business. SBO just takes a share of the money
                        it saves for you.</div>
                </div>
                <div class="col-md-12">
                    <div class="stl-content pb-3"></div>
                </div>
                <div class="col- mx-3"><button class="stl-btn" onclick="redirect('packages')">See Packages</button>
                </div>
                <div class="col- mx-3">
                    <div class="stl-btn">
                        <a href="https://sboportal.getsbo.com" target='_blank'>
                            Subscribe Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="background:white;">
        <div class="container py-5">
            <div class="row justify-content-center align-items-center stl-container">
                <div class="col-md-12 col-lg-9 ">
                    <div class="stl-heading pb-3">Who needs SBO?</div>
                    <div class="stl-subhead pb-3">Business models that SBO can facilitate</div>
                    <div class="stl-content pb-3">SBO is a point-to-point technology which can provide all the
                        facilities between two places transmitting VoIP traffic. And it gives a lot of local benefits
                        for termination businesses such as multiple internet connection, working behind NAT and
                        Firewalls, using any type of internet connection i.e. ADSL, GPRS, EDGE, 3G, 4G, Wi-Fi, WiMAX
                        etc. So, whoever has requirement for reducing bandwidth utilization, securing the communication,
                        improving the performance of the VoIP traffic, they need SBO.</div>
                </div>
                <div class="col-md-12 col-lg-3 text-center"><img class="stl-image pb-3"
                        src="/resources/images/product/sbo/sbo_whoneeds.svg" alt="Who needs SBO?"></div>
            </div>
            <div class="row justify-content-center align-items-center">
                <div class="col-md-12">
                    <div class="stl-content pb-3">SBO can be used by VoIP Termination businesses, termination through E1
                        or STM-n connectivity, call origination businesses such as call shops, call centers, wholesale
                        VoIP operators who has multiple point of presence (PoP) and whoever else thinks that they need
                        this service.</div>
                </div>
                <div class="col- mx-3">
                    <div class="stl-btn">
                        <a href="https://sboportal.getsbo.com" target='_blank'>
                            Subscribe Now
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>