.document-search {
	background-color: #2A678A;
}

.document-search .search-box {
	width: 50%;
}

.breadcrumb-custom li a {
	color: #1e528a;
}

.breadcrumb-custom li a:hover {
	color: #2a7bff;
}

.document-category ul li a {
	font-size: 16px;
	display: block;
	text-transform: capitalize;
	padding: 8px 15px;
	text-align: left;
	color: #1e528a;
}

.document-category ul li a:hover,
.document-category ul li a.active {
	background-color: #2A678A;
	color: white;
}

.document-category .box {
	/* margin-left: 30px; */
	text-align: left;
}

.document-category .box ul li a {
	font-size: 16px;
	display: block;
	text-transform: capitalize;
	padding: 8px 0;
	line-height: 20px;
}

.document-category .box ul li a:hover {
	color: #2a7bff;
	background-color: #fff;
}

.document-category .not-found {
	background-color: rgb(240, 239, 241);
}